@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <h3>
            Bem vindo a seu sistema de Controle de Estoque
        </h3>

    </p>
</div>
